<!doctype html>
<html ng-app="shoppingList">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Simple Shopping List App</title>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="app/css/styles.css">
</head>
<body ng-controller="ShopListCtrl as shopListCtrl">
	<div class="shop-list-container container">
		<header class="pad-top-16 pad-bottom-16">
			<h1 class="shop-list-heading text-center">Simple Shopping List</h1>
		</header>
		<ul class="items-container col-6 offset-sm-3">
	        <li ng-repeat="item in shopListCtrl.items track by $index" class="col-12 pad-top-16 pad-bottom-16">
	        	<span class="col-12 col-md-4 pl-0">{{ item.itemName }}</span> 
	        	<!-- TODO: Update form to include optional item details -->
	        	<!-- <span class="text-muted col-12 col-md-4 pl-0">{{ item.itemDetails }}</span> -->
	        	<span ng-click="shopListCtrl.removeItem($index)" class="remove float-right">&times;</span>
	        </li>
	    </ul>

	    <form class="pad-top-16 pad-bottom-16 col-6 offset-sm-3">
	    	<div class="form-row">
	    		<div class="col-10">
	    			<input type="text" class="form-control" ng-model="shopListCtrl.nextItem" placeholder="Add shopping list items here">
	    		</div>
	    		<div class="col-2">
	    			<button class="btn btn-success" ng-click="shopListCtrl.addItem()">Add Item</button>
	    		</div>
	    	</div>
	    	<p class="text-danger pad-top-10">{{ shopListCtrl.errorText }}</p>
	    </form>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script src="app/app.js"></script>
</body>
</html>